/* :root {
  --main-color: #8c52ff;
  --hover-color: #d9d9d9;
  --b-color: black;
  --w-color: #ffffff;
  --g-color: #a6a6a6;
  --background-color: #050816;
  --button-color: #121229;
  --card-color: #251c4c;
  --circle-color: #35355b;
} */
/* .about {
  
} */
.about-p {
  color: var(--g-color);
  /* font-size: 1.1em; */
  width: 70%;
  margin-top: 25px;
}
.about-title {
  display: flex;
  gap: 30px;
  flex-direction: row;
  /* flex-wrap: wrap; */
}
.download-button {
  font-size: small;
  height: 2.5rem;
  width: 8.5rem;
  border-color: var(--g-color);
  border-radius: 20px;
  background-color: var(--button-color);
  border-width: 2.5px;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
.row-about {
  margin-top: 4rem;
  margin-left: 4rem;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.card-img-top {
  width: 4.5rem;
  margin-top: 2rem;
}
.about-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-color);
  border-color: var(--g-color);
  border-width: 3.5px;
}
.card-title {
  color: var(--w-color);
  /* margin-top: 3rem; */
}
.card-body {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  margin-top: 1.3rem;
}
